<h1>Sign In Page</h1>

<form action="/users/createsession" method="post">
    <input type="email" name="email" placeholder="Email" required /><br />
    <input type="password" name="password" placeholder="Password" required /><br />
    <input type="submit" value="Sign In" />
</form>