#layout-footer{
    color: white;
    display: fixed;
    a{
        color: white;
        text-decoration: none;
    }

    background: grey;
    padding: 5px 10px;
    justify-content: flex-start;

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}