<h1>This is the link for your password reset </h1>
<a href="http://localhost:8000/users/newpassword/?email=<%= email %>&token=<%= token%>" >Click here</a>
<p style="color: brown;">This link is valid for 180s</p>